aiosqlite==0.19.0
alembic==1.11.3
anyio==3.6.2
asgiref==3.7.2
fastapi==0.101.1
httpcore==0.17.3
httpx==0.24.1
ipython==8.13.2
Jinja2==3.1.2
jsonschema==4.17.3
matplotlib-inline==0.1.6
pydantic==2.2.1
SQLAlchemy==2.0.20
starlette==0.27.0
uvicorn==0.23.2
